@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./variables.css');

main {
    height: auto;
    background-color: #FFF9F0;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#ueber_abstand {
    height: 20vh;
}

#ueber {
    display: flex;
    margin: 0vh 0 40vh 0;
    justify-content: space-evenly;
}

#ueber_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.6s ease;
}

#ueber_links:hover {
    transform: scale(1.05);
}

#ueber_links_foto {
    width: 28vw;
    margin: 0 0 0 12vw;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 10px #6F7A7A;
    transform: scaleX(-1);
}

#ueber_rechts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 0 10vw;
}

#ueber_rechts_titel {
    font-size: var(--titel);
    font-weight: var(--medium);
    color: black;
    margin: 0 0 0 0;
}

#ueber_rechts_strich {
    height: 0.8vh;
    width: 12vw;
    background-color: #697565;
    margin: 0 0 0 0;
}

#ueber_rechts_text {
    font-size: 1.22vw;
    color: black;
    margin: 4vh 0 4vh 0;
    width: 35vw;
    word-spacing: 0.1em;
    line-height: 1.5em;
}

.u_r_s_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.2vh 0;
}

.u_r_s_titel {
    font-size: 1.15vw;
    line-height: 1.6vw;
    font-weight: var(--semi-bold);
    color: black;
    margin: 0 1.2vw 0 0;
    width: 7vw;
}

.u_r_s_text {
    font-size: 1.15vw;
    line-height: 1px;
    color: black;
    margin: 0 0 0 0;
}

#skills_switch_line {
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#skills_switch_field {
    width: 16vw;
    height: 5vh;
    margin-right: 5vw;
    background-color: #262626;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills_switch_Andere, #skills_switch_Programmieren {
    padding: 0 1.2vw;
    height: 5vh;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: #F6CF60;
    cursor: pointer;
}

#skills_switch_Andere.active,
#skills_switch_Programmieren.active {
    background-color: #F6CF60;
    color: #262626;
    animation: highlight 4s infinite;
}

@keyframes highlight {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }
}

#skills {
    height: auto;
    background-color: #697565;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8vh 0 14vh 0;
}

#s_titel {
    font-size: var(--titel);
    font-weight: var(--medium);
    color: #F6CF60;
    padding: 0 0 4vh 0;
}

#s_list_andere {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#s_list_programmieren {
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.s_l_element {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s_l_icon {
    height: 4.2vw;
    width: 4.4vw;
    margin: 2vw 3vw 0 3vw;
    border-radius: 500px;
    background-color: white;
    color: black;
    text-decoration: none;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 20px 0px black;
}

.s_l_titel {
    font-size: 1.1vw;
    color: white;
    margin: 1.5vw 0 1.5vw 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #ueber_abstand {
        height: 15vh;
    }

    #ueber {
        flex-direction: column;
        margin: 1vh 0 15vh 0;
        justify-content: center;
        width: 100vw;
    }

    #ueber_links {
        width: 100vw;
        margin: 0 0 1vh 0;
        align-items: center;
    }

    #ueber_links_foto {
        width: 60vw;
        margin: 0 0 0 0;
        box-shadow: 5px 5px 20px 1px #6F7A7A;
    }

    #ueber_rechts {
        width: 90vw;
        margin: 2vh 0 5vh 10vw;
        align-items: flex-start;
    }

    #ueber_rechts_titel {
        font-size: var(--titel_handy);
        margin: 0 0 0 0;
    }

    #ueber_rechts_strich {
        width: 35vw;
        height: 0.6vh;
        margin: 0.1vh 0 -1vh 0;
    }

    #ueber_rechts_text {
        width: 75vw;
        font-size: 3.7vw;
        margin: 3.4vh 2vw 2vh 0;
        line-height: 1.5em;
        word-spacing: 0.1em;
    }

    .u_r_s_element {
        margin: 1vh 0;
    }

    .u_r_s_titel {
        font-size: 3.6vw;
        line-height: 4.5vw;
        margin: 0 2vw 0 0;
        width: 25vw;
    }

    .u_r_s_text {
        font-size: 3.6vw;
        line-height: 1px;
        margin: 0 0 0 0;
    }

    #skills {
        padding: 5vh 0 8vh 0;
    }

    #skills_switch_line {
        height: 4vh;
    }

    #skills_switch_field {
        width: 24vh;
        height: 4vh;
        border-radius: 10px;
    }

    #skills_switch_Andere, #skills_switch_Programmieren {
        padding: 0 1.2vw;
        height: 4vh;
        border-radius: 10px;
        font-size: 1.8vh;
    }

    #skills_switch_Andere.active,
    #skills_switch_Programmieren.active {
    }

    #s_titel {
        font-size: var(--titel_handy);
        margin: 3vh 0 3vh 0;
        padding: 0;
    }

    #s_list {
        margin: 0 1vw 2vh 1vw;
    }

    .s_l_icon {
        height: 12vw;
        width: 12vw;
        margin: 1vh 6.5vw 0 6.5vw;
        box-shadow: 5px 5px 15px 0px black;
    }

    .s_l_titel {
        font-size: 2.8vw;
        margin: 4vw 0 3vw 0;
    }
}