@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

main {
    height: auto;
    background-color: #FFF9F0;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --header-img-size: 90vh;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --titel: 3.5vw;
    --titel_handy: 10vw;
}

#projekte {
    height: 50vh;
    background-color: pink;
}

#ueber {
    display: flex;
    margin: 25vh 0;
    justify-content: space-evenly;
}

#ueber_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ueber_links_foto {
    width: 32vw;
    margin: 0 0 0 10vw;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 10px black;
    transform: scaleX(-1);
}

#ueber_rechts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 0 10vw;
}

#ueber_rechts_titel {
    font-size: var(--titel);
    font-weight: var(--medium);
    color: black;
    margin: 0 0 0 0;
}

#ueber_rechts_strich {
    height: 0.8vh;
    width: 15vw;
    background-color: #697565;
    margin: 0 0 0 0;
}

#ueber_rechts_text {
    font-size: 1.4vw;
    color: black;
    margin: 4vh 0 4vh 0;
    width: 35vw;
    word-spacing: 0.15em;
    line-height: 1.4em;
}

.u_r_s_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.2vh 0;
}

.u_r_s_titel {
    font-size: 1.2vw;
    line-height: 1.6vw;
    font-weight: var(--semi-bold);
    color: black;
    margin: 0 2vw 0 0;
    width: 7vw;
}

.u_r_s_text {
    font-size: 1.2vw;
    line-height: 1px;
    color: black;
    margin: 0 0 0 0;
}

#skills {
    height: auto;
    background-color: #697565;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2vw;
}

#s_titel {
    font-size: var(--titel);
    font-weight: var(--medium);
    color: #F6CF60;
    padding: 3vw 0 0 0;
}

#s_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.s_l_element {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s_l_icon {
    height: 4.2vw;
    width: 4.4vw;
    margin: 3vw 4vw 0 4vw;
    border-radius: 500px;
    background-color: white;
    color: black;
    text-decoration: none;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 20px 0px black;
}

.s_l_titel {
    font-size: 1.1vw;
    color: white;
    margin: 1.5vw 0 3vw 0;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #ueber {
        flex-direction: column;
        margin: 15vh 0;
        justify-content: center;
        width: 100vw;
    }

    #ueber_links {
        width: 100vw;
        margin: 0 0 5vh 0;
        align-items: center;
    }

    #ueber_links_foto {
        width: 70vw;
        margin: 0 0 0 0;
        box-shadow: 10px 10px 40px 10px black;
    }

    #ueber_rechts {
        width: 90vw;
        margin: 5vh 0 5vh 10vw;
        align-items: flex-start;
    }

    #ueber_rechts_titel {
        font-size: var(--titel_handy);
        margin: 0 0 0 0;
    }

    #ueber_rechts_strich {
        width: 35vw;
        height: 0.6vh;
        margin: 0.8vh 0 -1vh 0;
    }

    #ueber_rechts_text {
        width: 75vw;
        font-size: 4vw;
        margin: 4vh 2vw 2vh 0;
    }

    .u_r_s_element {
        margin: 1vh 0;
    }

    .u_r_s_titel {
        font-size: 3.6vw;
        line-height: 4.5vw;
        margin: 0 2vw 0 0;
        width: 25vw;
    }

    .u_r_s_text {
        font-size: 3.6vw;
        line-height: 1px;
        margin: 0 0 0 0;
    }

    #s_titel {
        font-size: var(--titel_handy);
        margin: 5vh 0 5vh 0;
    }

    #s_list {
        margin: 0 0 3vh 0;
    }

    .s_l_icon {
        height: 14vw;
        width: 14vw;
        margin: 1vh 8vw 0 8vw;
        box-shadow: 5px 5px 20px 0px black;
    }

    .s_l_titel {
        font-size: 3vw;
        margin: 4vw 0 5vw 0;
    }
}