@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./variables.css');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#projekte {
    height: auto;
    background-color: #FFF9F0;
    color: black;
    padding: 20vh 0;
    position: relative;
}

#projekt_titel {
    font-size: var(--titel);
    font-weight: var(--medium);
    color: black;
    margin: 0 0 0 5vw;
}

#projekt_strich {
    height: 0.8vh;
    width: 12vw;
    background-color: #697565;
    margin: 0 0 0 5vw;
}

#projekt_container {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 0 0 0;
    padding: 20px 0 0 0;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projekt_container::-webkit-scrollbar {
    display: none;
}

/* Custom scrollbar wrapper */
.scrollbar-wrapper {
    position: absolute;
    bottom: 10vh;
    left: 25vw;
    width: 50vw;
    height: 20px;
    background: #3C3D37;
    border-radius: 10px;
}

/* Custom scrollbar thumb */
.scrollbar-thumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 16px;
    background: #697565;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.scrollbar-thumb:hover {
    background: #F6CF60;
}

.scrollbar-thumb:active {
    background: #F6CF60;
}

.projekt_element {
    width: 450px;
    height: 550px;
    background-color: #3C3D37;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
    position: relative;
    margin: 20px 120px;
    flex-shrink: 0;
}

@media screen and (max-width: 1400px) {
    #projekte {
        padding: 10vh 0;
    }

    #projekt_titel {
        font-size: var(--titel_handy);
        margin: 0 0 0 5vw;
    }

    #projekt_strich {
        height: 0.6vh;
        width: 35vw;
        margin: 0 0 0 5vw;
    }

    #projekt_container {
        margin: 2vh 0 2vh 0;
        padding: 0 0 0 0;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .projekt_element {
        width: 70vw;
        height: 450px;
        margin: 20px 15vw;
    }
}